
<H1 style="text-align:center;" ><B> Following products are available in store!</B></H1> <br/><br/>
<% @products.each do |p| %>
<%= react_component('Products',serialno:p.id,name: p.name,price:p.price) %>
<%end%>

