
<H1 style="text-align:center;" ><B> Following products are available in store!</B></H1> <br/><br/>
<% @products.each do |p| %>
<%= react_component('Products',serialno:p.id,name: p.name,price:p.price) %>
<%end%>

<br/><br/><br/>
<p style="margin-left:8%;">Note: Select the product by clicking select button and then choose your location to see the final price of product. </p>
