
<H1 style="text-align:center;" ><B> Following products are available in store!</B></H1> <br/><br/>
<% @products.each do |p| %>
<%= react_component('Products',serialno:p.id,name: p.name,price:p.price) %>
<%end%>

<br/><br/><br/>
<div className="row">
<div className="col-md-6">
<p style="margin-left:8%;"><B>Note:</B> This page shows admin view for products available in store.Admin can change the price of product by editing entry in input field.Admin can check the price of item in particular area by selecting the pincode from dropdown.The Fixed price field shows the final price of item.</p>
</div>
</div>